ecotron.co.in, www.ecotron.co.in {
    # Main App Proxy
    reverse_proxy trading-frontend:80

    # API Proxy (preserve path)
    handle /analyze* {
        reverse_proxy api:8000 {
            transport http {
                read_timeout 600s
                write_timeout 600s
            }
        }
    }

    encode gzip
}
